h1 {
    color: purple;
}
h2 {
    color: orangered;
}
p {
    color: blueviolet;
}
body {
    background-color: lightblue;
}
adress {
    color: blueviolet;
}
blockquote {
    color: blueviolet;
}

.fake{
    color:white;
}